.Banner {
    background-size: cover;
    height: 356px;
    width: 1920px;
    gap: 0px;
    background-color: #CCC;
    top: px;
    opacity: 0px;
       
    }
    
    
.title-painel {
    background-color: white;
    border-radius: 37px 37px 0 0;
    font-size: 50px;
    height: 150px;
    margin: 0 auto;
    width: 400px;
    text-align: center;
    
    }